Source: obmm
Section: libs
Priority: optional
Maintainer: Yuhao Zhang <yuhao.zhang@huawei.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13), make, cmake, gcc, linux-headers-generic, ub-os-component-dkms-dev
Standards-Version: 4.6.2
Homepage: https://gitcode.com/openeuler/obmm

Package: obmm-dev
Section: libdevel
Architecture: arm64
Multi-Arch: same
Depends: obmm (= ${binary:Version}), ${misc:Depends}, libc6-dev | libc-dev, linux-headers-generic, linux-libc-dev, ub-os-component-dkms-dev
Provides: libobmm-dev (= ${binary:Version})
Breaks: libobmm-dev (<< ${binary:Version})
Replaces: libobmm-dev (<< ${binary:Version})
Description: development files for Huawei OBMM
 This package provides the header files and unversioned shared-library
 symbolic link required to build applications that use libobmm.

Package: obmm
Section: libs
Architecture: arm64
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libobmm (= ${binary:Version})
Breaks: libobmm (<< ${binary:Version})
Replaces: libobmm (<< ${binary:Version})
Description: runtime library for the Huawei OBMM driver
 This package provides libobmm, the user-space library used to communicate
 with the Huawei OBMM kernel driver.
