#!/usr/bin/make -f

DEB_HOST_MULTIARCH := $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

# See debhelper(7) (uncomment to enable).
# Output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# See FEATURE AREAS in dpkg-buildflags(1).
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# See ENVIRONMENT in dpkg-buildflags(1).
# Package maintainers to append CFLAGS.
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# Package maintainers to append LDFLAGS.
#export DEB_LDFLAGS_MAINT_APPEND  = -Wl,--as-needed


%:
	dh $@


override_dh_auto_build:
	cmake -S src/libobmm -B src/libobmm/build \
		-DCMAKE_INSTALL_PREFIX:PATH=build
	dh_auto_build --builddirectory=src/libobmm/build


override_dh_auto_install:
	mkdir -p -m755 debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/
	mkdir -p -m755 debian/tmp/usr/include/
	install -m 644 src/libobmm/build/libobmm.so.1.0.1 debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/libobmm.so.1.0.1
	install -m 644 src/libobmm/libobmm.h debian/tmp/usr/include/
	ln -sf libobmm.so.1 debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/libobmm.so
	ln -sf libobmm.so.1.0.1 debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/libobmm.so.1


override_dh_auto_clean:
	rm -rf src/libobmm/build
